/config/database.yml
/config/database_metrics.yml
/config/app_secret_key.rb

/db/*.db
/db/*.sqlite3
/db/schema.rb
/files/*
/log/*.log*

/.bundle
/Gemfile.lock
/Gemfile.local

.*~
.ruby-gemset
.ruby-version

*.db
*.sqlite3


