//%link{href: "/stylesheets/line_chart.css", rel: "stylesheet"}
//%script{src: "/javascripts/line_chart.js", charset: "utf-8"}
-@select_all.each do |record|
  %p= record[1]
%svg

#chart_bar
%br
%a{ :id =>"chart_bar", :style => "cursor: pointer;"} Chart Bar
:javascript
%script{:type=>"text/javascript"}
  //<![CDATA[
  $(document).ready( function() {

       
    var chart_bar = c3.generate({
      bindto: '#chart_bar',
      data: {
             columns: [
               ['100', 0],
               ['200', 0],
               ['300', 0],
               ['400', 0],
               ['500', 0],
              ],
             type: 'bar',
             colors: {
                100: '#001EFF',
                200: '#006633',
                300: '#FFFF00',
                400: '#FFA600',
                500: '#D80000' 
             },
      },
      bar: {
            width: {
              ratio: 0.5 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
      }
    });
//{"responses":[["100_200",1],["200_300",45],["300_400",50],["400_500",100]]}
    $("a#chart_bar").click(function(){
      $.get("chart_bar", {},
        function(result) {
          //$("#greeting").html(result);
          json_result = JSON.parse(result);
          //alert(json_result["100_200"]);
          chart_bar.load({ columns: [['100', json_result["100"]],
                                 ['200', json_result["200"]],
                                 ['300', json_result["300"]],
                                 ['400', json_result["400"]],
                                 ['500', json_result["500"]]
                                ]
          });

        });
    });
    
  });

  
  //]]>



